# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

#Files
*.vcxproj.filters
*.vcxproj.user

# Folder
# --------
/.vs/
/Debug/
/Release/
/build/
/bin/
/x64/
